# Dataen vår

In [16]:
import pandas as pd

# Sample data for a football player statistics dataset
data = {
    "Player Name": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr", "Kevin De Bruyne", "Robert Lewandowski"],
    "Team": ["Paris Saint-Germain", "Al Nassr", "Paris Saint-Germain", "Manchester City", "Barcelona"],
    "Nationality": ["Argentina", "Portugal", "Brazil", "Belgium", "Poland"],
    "Goals": [25, 30, 18, 12, 34],
    "Assists": [18, 15, 20, 25, 10],
    "Passes Completed": [2050, 1800, 1900, 2300, 1500],
    "Matches Played": [30, 33, 29, 32, 31],
    "Yellow Cards": [2, 3, 4, 1, 5],
    "Red Cards": [0, 1, 0, 0, 1]
}
# data = {
#     "Spillernavn": ["Lionel Messi", "Cristiano Ronaldo", "Neymar Jr", "Kevin De Bruyne", "Robert Lewandowski"],
#     "Lag": ["Paris Saint-Germain", "Al Nassr", "Paris Saint-Germain", "Manchester City", "Barcelona"],
#     "Nasjonalitet": ["Argentina", "Portugal", "Brasil", "Belgia", "Polen"],
#     "Mål": [25, 30, 18, 12, 34],
#     "Assists": [18, 15, 20, 25, 10],
#     "Fullførte Pasninger": [2050, 1800, 1900, 2300, 1500],
#     "Kamper Spilt": [30, 33, 29, 32, 31],
#     "Gule Kort": [2, 3, 4, 1, 5],
#     "Røde Kort": [0, 1, 0, 0, 1]
# }

# Converting all numeric values to strings
for key in data:
    if isinstance(data[key][0], int):  # check if the first item is an integer
        data[key] = [str(item) for item in data[key]]

df = pd.DataFrame(data)

df.head()

,Player Name,Team,Nationality,Goals,Assists,Passes Completed,Matches Played,Yellow Cards,Red Cards
0,Lionel Messi,Paris Saint-Germain,Argentina,25,18,2050,30,2,0
1,Cristiano Ronaldo,Al Nassr,Portugal,30,15,1800,33,3,1
2,Neymar Jr,Paris Saint-Germain,Brazil,18,20,1900,29,4,0
3,Kevin De Bruyne,Manchester City,Belgium,12,25,2300,32,1,0
4,Robert Lewandowski,Barcelona,Poland,34,10,1500,31,5,1

# Kjøre modellen lokalt
### Laste inn modellen fra Hugging Face

In [ ]:
# Use a pipeline as a high-level helper
from transformers import AutoTokenizer, AutoModelForTableQuestionAnswering

# Load model directly
tokenizer = AutoTokenizer.from_pretrained("google/tapas-large-finetuned-wtq")
model = AutoModelForTableQuestionAnswering.from_pretrained("google/tapas-large-finetuned-wtq")

In [ ]:


# Initialize the pipeline
# Use a pipeline as a high-level helper
from transformers import pipeline
pipe = pipeline("table-question-answering", model=model, tokenizer=tokenizer)

### Lage spørring

In [3]:
# DATAFRAME MUST BE IN STRING TYPE!
# table = df.astype(str)

query_list = [
"Who scored the highest number of goals?",
"How many assists were made by Kevin De Bruyne?",
"Which player has the least yellow cards?",
"What is the total number of red cards received by players from Paris Saint-Germain?",
"Who has the highest passes completed, and how many passes did they complete?"
]
# query_list = [
#     "Hvem scoret flest mål?",
#     "Hvor mange assists ble laget av Kevin De Bruyne?",
#     "Hvilken spiller har færrest gule kort?",
#     "Hva er totalt antall røde kort mottatt av spillere fra Paris Saint-Germain?",
#     "Hvem har flest fullførte pasninger, og hvor mange pasninger fullførte de?"
# ]

### Kjøre modellen

In [ ]:
for question in query_list:
    result = pipe({'table': data, 'query': question})
    answer = result['cells'][0].strip()
    print(f"Spørsmål: {question}\nSvar: {answer}\n")

Spørsmål: Who scored the highest number of goals?
<br>
Svar: **Robert Lewandowski**

Spørsmål: How many assists were made by Kevin De Bruyne?
<br> 
Svar: **25**

Spørsmål: Which player has the least yellow cards?
<br>
Svar: **Kevin De Bruyne**

Spørsmål: What is the total number of red cards received by players from Paris Saint-Germain?
<br>
Svar: **0**

Spørsmål: Who has the highest passes completed, and how many passes did they complete?
<br>
Svar: **Kevin De Bruyne,2300**

# Kalle modellen med et api

In [5]:
import requests

import os
from dotenv import load_dotenv
load_dotenv()  # Dette laster inn variablene fra .env filen
HF_Authorization = os.getenv("HF_Authorization")


API_URL = "https://api-inference.huggingface.co/models/google/tapas-large-finetuned-wtq"
headers = {"Authorization": "Bearer "+ HF_Authorization}

HF_Authorization

def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()
	
output = query({
	"inputs": {
		"query": query_list[4],
		'table': data
		},
})
print(output)

{'answer': 'Kevin De Bruyne', 'coordinates': [[3, 0]], 'cells': ['Kevin De Bruyne'], 'aggregator': 'NONE'}

In [ ]:
answer = output['cells'][0].strip()
print(f"Spørsmål: {question}\nSvar: {answer}\n")

In [ ]:
import requests

import os
from dotenv import load_dotenv
load_dotenv()  # Dette laster inn variablene fra .env filen
HF_Authorization = os.getenv("HF_Authorization")

API_URL = "https://api-inference.huggingface.co/models/google/tapas-large-finetuned-wikisql-supervised"
headers = {"Authorization": "Bearer "+ HF_Authorization}



def query(payload):
	response = requests.post(API_URL, headers=headers, json=payload)
	return response.json()
	
output = query({
	"inputs": {
		"query": "How many stars does the transformers repository have?",
		"table": {
			"Repository": ["Transformers", "Datasets", "Tokenizers"],
			"Stars": ["36542", "4512", "3934"],
			"Contributors": ["651", "77", "34"],
			"Programming language": [
				"Python",
				"Python",
				"Rust, Python and NodeJS"
			]
		}
	},
})

# Til foredrag

In [21]:
import pandas as pd


data = {
    "Month": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    "Average Temperature (°C)": [11.2, 11.6, 13.3, 15.1, 17.9, 21.8, 24.5, 24.7, 21.9, 18.6, 14.2, 12.2],
    "Min. Temperature (°C)": [8.5, 8.7, 10.2, 11.9, 14.5, 18.1, 20.6, 21.2, 18.8, 15.9, 11.6, 9.8],
    "Max. Temperature (°C)": [14.3, 14.6, 16.4, 18.2, 21.1, 25.2, 28.1, 28.1, 25, 21.5, 17.1, 14.9],
    "Precipitation (mm)": [88, 76, 81, 59, 34, 9, 1, 5, 32, 83, 94, 124],
    "Humidity (%)": [76, 74, 73, 72, 67, 62, 59, 62, 70, 76, 75, 77],
    "Rainy Days (d)": [7, 6, 6, 5, 4, 1, 0, 1, 3, 6, 6, 7],
    "Hours of Sunshine (h)": [6.7, 7.3, 8.4, 9.7, 11.5, 12.6, 12.6, 11.6, 10.1, 8.4, 7.1, 6.3]
}


# Converting all numeric values to strings
for key in data:
    if isinstance(data[key][0], int):  # check if the first item is an integer
        data[key] = [str(item) for item in data[key]]

df = pd.DataFrame(data)

df.head(12)

,Month,Average Temperature (°C),Min. Temperature (°C),Max. Temperature (°C),Precipitation (mm),Humidity (%),Rainy Days (d),Hours of Sunshine (h)
0,January,11.2,8.5,14.3,88,76,7,6.7
1,February,11.6,8.7,14.6,76,74,6,7.3
2,March,13.3,10.2,16.4,81,73,6,8.4
3,April,15.1,11.9,18.2,59,72,5,9.7
4,May,17.9,14.5,21.1,34,67,4,11.5
5,June,21.8,18.1,25.2,9,62,1,12.6
6,July,24.5,20.6,28.1,1,59,0,12.6
7,August,24.7,21.2,28.1,5,62,1,11.6
8,September,21.9,18.8,25.0,32,70,3,10.1
9,October,18.6,15.9,21.5,83,76,6,8.4
10,November,14.2,11.6,17.1,94,75,6,7.1
11,December,12.2,9.8,14.9,124,77,7,6.3

In [18]:
query_list = [
"What month has the highest average temperature?",
"How many rainy days are there usually in May?",
"How many hours of sunshine are there usually in May?",
"What is the minimum temperature in May?",
"What is the average temperature in May?",
]

In [22]:
# # Converting all numeric values to strings
# for key in data:
#     if isinstance(data[key][0], int):  # check if the first item is an integer
#         data[key] = [str(item) for item in data[key]]

# df = pd.DataFrame(data)

# df.head()


# # Converting all numeric values to strings
# for key in data:
#     if isinstance(data[key][0], int):  # check if the first item is an integer
#         data[key] = [str(item) for item in data[key]]

# Convert all int and float values to strings
for key, values in data.items():
    if key != "Month":  # We don't need to convert month names
        data[key] = [str(value) for value in values]

# df = pd.DataFrame(data)

# df.head()
print(data)

{'Month': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], 'Average Temperature (°C)': ['11.2', '11.6', '13.3', '15.1', '17.9', '21.8', '24.5', '24.7', '21.9', '18.6', '14.2', '12.2'], 'Min. Temperature (°C)': ['8.5', '8.7', '10.2', '11.9', '14.5', '18.1', '20.6', '21.2', '18.8', '15.9', '11.6', '9.8'], 'Max. Temperature (°C)': ['14.3', '14.6', '16.4', '18.2', '21.1', '25.2', '28.1', '28.1', '25', '21.5', '17.1', '14.9'], 'Precipitation (mm)': ['88', '76', '81', '59', '34', '9', '1', '5', '32', '83', '94', '124'], 'Humidity (%)': ['76', '74', '73', '72', '67', '62', '59', '62', '70', '76', '75', '77'], 'Rainy Days (d)': ['7', '6', '6', '5', '4', '1', '0', '1', '3', '6', '6', '7'], 'Hours of Sunshine (h)': ['6.7', '7.3', '8.4', '9.7', '11.5', '12.6', '12.6', '11.6', '10.1', '8.4', '7.1', '6.3']}

In [14]:
# Use a pipeline as a high-level helper
from transformers import AutoTokenizer, AutoModelForTableQuestionAnswering

# Load model directly
tokenizer = AutoTokenizer.from_pretrained("google/tapas-large-finetuned-wtq")
model = AutoModelForTableQuestionAnswering.from_pretrained("google/tapas-large-finetuned-wtq")


# Initialize the pipeline
# Use a pipeline as a high-level helper
from transformers import pipeline
pipe = pipeline("table-question-answering", model=model, tokenizer=tokenizer)

In [23]:
for question in query_list:
    result = pipe({'table': data, 'query': question})
    answer = result['cells'][0].strip()
    print(f"Spørsmål: {question}\nSvar: {answer}\n")

/opt/homebrew/lib/python3.11/site-packages/transformers/models/tapas/tokenization_tapas.py:2762: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  text = normalize_for_match(row[col_index].text)
/opt/homebrew/lib/python3.11/site-packages/transformers/models/tapas/tokenization_tapas.py:1561: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cell = row[col_index]

Spørsmål: What month has the highest average temperature?
Svar: August

Spørsmål: How many rainy days are there usually in May?
Svar: 4

Spørsmål: How many hours of sunshine are there usually in May?
Svar: 11.5

Spørsmål: What is the minimum temperature in May?
Svar: 14.5

Spørsmål: What is the average temperature in May?
Svar: 17.9